{% extends "systemsigo/base.html" %}
{% load static %}

{% block content %}
<div>
  <div class="card">

    <div class="d-flex justify-content-end align-items-center mt-2 mb-3 p-2 mx-1">
      <div class="searchBox position-relative d-flex align-items-center mx-2">
        <i class="bi bi-search me-2 text-secondary"></i>
        <input
          type="text"
          id="input-search"
          placeholder="Buscar..."
          oninput="toggleClearButton(this)"
        />
        <button
          id="clear-search"
          type="button"
          class="btn btn-sm btn-link text-secondary px-2 d-none"
          onclick="clearSearch()"
          title="Borrar búsqueda"
        >
          <i class="bi bi-x-circle-fill"></i>
        </button>
      </div>

      <a href="{% url 'medidores_crear_admin' %}">
        <button class="btn btn-primary">Agregar</button>
      </a>
    </div>

    <div class="d-flex align-items-center justify-content-center">
      <div class="table-container">
        <table class="styled-table text-center">
          <thead>
            <tr class="text-center">
              <th colspan="16" class="table-title" style="background-color: var(--color-uacam-table-header); font-size: 15px;">
                Lista de Medidores
              </th>
            </tr>
            <tr class="text-center">
              <th>Unidad Responsable</th>
              <th>No. Medidor</th>
              <th>Capacidad Transformador</th>
              <th>Fecha Registro</th>
              <th>Creado por</th>
              <th>Última Actualización</th>
              <th>Actualizado por</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="table-body">
            {% for m in medidores %}
            <tr>
              <td>{{ m.unidad_responsable.nombre }}</td>
              <td>{{ m.no_medidor }}</td>
              <td>{{ m.capacidad_transformador }}</td>
              <td>{{ m.fecha_registro|date:"Y-m-d H:i:s" }}</td>
              <td>{{ m.creado_por }}</td>
              <td>{{ m.ultima_actualizacion|date:"Y-m-d H:i:s" }}</td>
              <td>{{ m.actualizado_por }}</td>
              <td>
                <div class="d-flex actions justify-content-center gap-2">
                  <a href="{% url 'medidores_editar_admin' m.id %}"
                     class="btn btn-light rounded-circle btn-sm" title="Editar">
                    <i class="bi bi-pencil"></i>
                  </a>
                  <button class="btn btn-danger btn-sm rounded-circle"
                          onclick="eliminarMedidor('{{ m.id }}')" title="Eliminar">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="table-header d-flex justify-content-end align-items-center mt-2 mb-3 p-2">
        <ul class="pagination" id="pagination"></ul>
    </div>
  </div>
</div>

<script>
function eliminarMedidor(medidorId) {
  Swal.fire({
    title: '¿Estás seguro?',
    text: "El medidor será eliminado",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#6c757d',
    confirmButtonText: 'Sí, eliminar',
    cancelButtonText: 'Cancelar'
  }).then((result) => {
    if (result.isConfirmed) {
      Swal.fire({
        title: '¡Eliminado!',
        text: 'El medidor fue eliminado correctamente.',
        icon: 'success',
        confirmButtonText: 'OK'
      }).then(() => {
        window.location.href = `/medidores/eliminar/${medidorId}/`;
      });
    }
  });
}
</script>
{% endblock %}