{% extends "systemsigo/base.html" %}
{% load static %}

{% block content %}

<div>

   <div class="card">
    <div class="d-flex justify-content-end align-items-center mt-2 mb-3 p-2 mx-1">
        <div class="searchBox position-relative d-flex align-items-center mx-2">
        <i class="bi bi-search me-2 text-secondary"></i>
        <input
            type="text"
            id="input-search"
            class=""
            placeholder="Buscar..."
            oninput="toggleClearButton(this)"
        />
        <button
            id="clear-search"
            type="button"
            class="btn btn-sm btn-link text-secondary px-2 d-none"
            onclick="clearSearch()"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Borrar búsqueda"
        >
            <i class="bi bi-x-circle-fill"></i>
        </button>
        </div>

        <a href="{% url 'registrar_inventario_climatizacion_admin' %}"><button class="btn btn-primary">Agregar</button></a>

    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div class="table-container">
        <table class="styled-table text-center">
            <thead>
                <tr class="text-center">
                    <th colSpan="22" className="table-title" style='background-color: var(--color-uacam-table-header); font-size: 15px;' >
                        Lista de de inventarios de Aires Acondicionados
                    </th>
                </tr>
                <tr class="text-center">
                    <th>Unidad Responsable</th>
                    <th>Edificio</th>
                    <th>Nivel</th>
                    <th>Área</th>
                    <th>Tipo Clima</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Capacidad BTU</th>
                    <th>Voltaje</th>
                    <th>Amperaje</th>
                    <th>Potencia</th>
                    <th>Potencia total</th>
                    <th>Horas al mes</th>
                    <th>Consumo</th>
                    <th>Creado por</th>
                    <th>Fecha de registro</th>
                    <th>Actualizado por</th>
                    <th>Ultima actualización</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for climatizacion in climatizacion %}
                <tr>
                    <td>{{ climatizacion.unidad_responsable.nombre }}</td>
                    <td>{{ climatizacion.edificio.nombre }}</td>
                    <td>{{ climatizacion.nivel }}</td>
                    <td>{{ climatizacion.area.nombre }}</td>
                    <td>{{ climatizacion.tipo_clima }}</td>
                    <td>{{ climatizacion.marca }}</td>
                    <td>{{ climatizacion.modelo }}</td>
                    <td>{{ climatizacion.capacidad }}</td>
                    <td>{{ climatizacion.voltaje }}</td>
                    <td>{{ climatizacion.amperaje }}</td>
                    <td>{{ climatizacion.potencia }}</td>
                    <td>{{ climatizacion.potencia_total }}</td>
                    <td>{{ climatizacion.horas_mes }}</td>
                    <td>{{ climatizacion.consumo_mensual }}</td>
                    <td>{{ climatizacion.creado_por }}</td>
                    <td>{{ climatizacion.fecha_registro|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ climatizacion.actualizado_por }}</td>
                    <td>{{ climatizacion.ultima_actualizacion|date:"Y-m-d H:i:s" }}</td>
                    <td> 
                        <div class="d-flex actions justify-content-center gap-2">
                            <a href="{% url 'editar_inventario_climatizacion_admin' climatizacion.id %}"
                            class="btn btn-light rounded rounded-circle btn-sm"
                            title="Actualizar información">
                                <i class="bi bi-pencil"></i>
                            </a>

                            <button class="btn btn-success btn-sm rounded rounded-circle" onclick="darBaja('{{ climatizacion.id }}')">
                              <i class="bi bi-toggle-on"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

        <div class="table-header d-flex justify-content-end align-items-center mt-2 mb-3 p-2">
            <ul class="pagination" id="pagination"></ul>
        </div>
        
   </div>

</div>

<script>
function darBaja(climatizacionId) {
    Swal.fire({
        title: '¿Estás seguro?',
        text: "El registro será dado de baja",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#6c757d',
        confirmButtonText: 'Sí, dar de baja',
        cancelButtonText: 'Cancelar'
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: '¡Dado de baja!',
                text: 'El registro ha sido dado de baja correctamente.',
                icon: 'success',
                confirmButtonText: 'OK'
            }).then(() => {
                // Redirigir después del OK
                window.location.href = `/inventario/climatizacion/dar_baja/admin/${climatizacionId}/`;
            });
        }
    });
}
</script>

{% endblock content %}