.card {
    border: none;
}

.card-small {
    height: 150px;
    color: var(--color-uacam-black);
}

.bienvenida-card {
    color: var(--color-uacam-black);
    position: relative;
    overflow: hidden;
}

.nombre-usuario {
    color: var( --color-uacam-datatext);
}

.bienvenida-texto {
    opacity: 0.9;
    font-size: 0.95rem;
}

.chart-container {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: auto;
}

.card-dashboard {
    background: var(--color-uacam-bg-card);
    border: 1px solid var(--color-card-border);
    transition: all 0.25s ease;
}

.card-dashboard:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card-title-small {
    font-size: 0.85rem;
    color: var(--color-uacam-input-label);
}

.card-value {
    font-weight: 700;
    color: var(--color-uacam-datatext-success);
    font-size: 1.8rem;
}

.card-icon {
    font-size: 1.2rem;
    color: var(--color-uacam-card-icon);
}

.card-trend {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--color-uacam-datatext);
}

.card-widget {
    background: var(--color-uacam-bg-card);
    
    transition: all 0.25s ease;
    position: relative;
    overflow: hidden;
}

.card-widget:hover {
    transform: translateY(-4px) scale(1.01);
    box-shadow: 0 12px 30px rgba(0,0,0,0.10);
}

/* barra superior decorativa */
.card-widget::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

/* contenido */
.widget-title {
    font-size: 0.85rem;
    color: var(--color-uacam-input-label);
}

.widget-value {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-uacam-datatext);
}

.widget-icon {
    font-size: 1.5rem;
    color: var(--color-uacam-secondary);
    opacity: 0.9;
}

.widget-footer {
    font-size: 0.75rem;
    color: var(--color-uacam-input-label);
}

.top_dato {
  color: var(--color-uacam-black);
}

.titulo-graficas {
  color: var(--color-uacam-black);
  font-size: 1.0rem;
  font-weight: 600;
}