 .card .tittle-table{
    margin-left: 20px;
    color: var(--color-uacam-datatext);
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .search-bar {
    flex: 1;
    max-width: 300px;
    margin-right: 16px;
  }
  
  
  .table-container {
    width: 100%;
    margin: 10px;
    overflow-x: auto;
    border-radius: 6px;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
    color: var(--color-uacam-black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .styled-table thead tr {
    background-color: var(--color-uacam-table-header) !important;
    color: var(--color-uacam-white);
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 7px 12px;
  }
  
  .styled-table tbody tr {
    background: var(--color-uacam-tuple);
    transition: background-color 0.3s ease;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: var(--color-uacam-white);
  }
  
  .styled-table tbody tr.active-row {
    background-color: var(--color-uacam-white);
  }

    /* Hover para filas */
  .styled-table tbody tr:hover {
      background-color: var(--color-uacam-sidebar-hover);
      color: var(--color-uacam-sidebar-accent);
      cursor: pointer;
      transition: background-color 0.25s ease, color 0.25s ease;
  }