{% extends 'systemsigo/base.html' %}
{% load static %}
{% block content %}

<div class="card p-4">
    <p class="text-center mb-2"  style="font-size: 18px;">Filtro de subestaciones por Unidad Responsable</p>
    <hr class="text-center" style="color: var(--color-uacam-primary);">
    <div class="mt-4">
        <form method="get" class="mb-4">
            <div class="material-input">
                <select name="ur" id="ur" onchange="this.form.submit()">
                    <option value="">-- Todas las UR --</option>
                    {% for ur in unidades_responsables %}
                        <option value="{{ ur.id }}" {% if ur.id|stringformat:"s" == ur_filtrada %}selected{% endif %}>{{ ur.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="ur">Filtrar por Unidad Responsable:</label>
            </div>
        </form>
    </div>
</div>

<div class="card mt-3">
    <div class="d-flex justify-content-end mt-2">
        <a href="{% url 'admin_subestaciones' %}"><button class="btn btn-secondary">Limpiar</button></a>
        <a href="{% url 'crear_subestacion_admin' %}"><button class="btn btn-primary mx-2">Agregar</button></a>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="table-container">
            <table class="styled-table text-center">
                <thead>
                    <tr class="text-center">
                        <th colSpan="12" className="table-title" style='background-color: var(--color-uacam-table-header); font-size: 15px;' >
                            Lista de subestaciones de las Unidades Responsables
                        </th>
                    </tr>
                    <tr class="text-center">
                        <th>Número de servicio</th>
                        <th>Número de medidor</th>
                        <th>Tarifa</th>
                        <th>Multiplicador</th>
                        <th>Unidad Responsable</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sub in subestaciones %}
                        <tr>
                            <td>{{ sub.no_servicio }}</td>
                            <td>{{ sub.no_medidor }}</td>
                            <td>{{ sub.tarifa }}</td>
                            <td>{{ sub.multiplicador }}</td>
                            <td>{{ sub.unidad_responsable.nombre }}</td>
                            <td>
                               <a href="{% url 'editar_subestacion_admin' sub.id %}" 
                               class="btn btn-sm btn-light rounded rounded-circle" title="Editar información"><i class="bi bi-pencil"></i></a>
                               <button class="btn btn-sm btn-danger rounded rounded-circle" title="Eliminar registro"
                               onclick="eliminarSubestacion('{{ sub.id }}')"><i class="bi bi-trash-fill"></i></button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr class="text-center">
                            <td colspan="8">No se encontraron subestaciones.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
      function eliminarSubestacion(id) {
    Swal.fire({
      title: '¿Eliminar esta subestación?',
      text: "Esta acción no se puede deshacer.",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      confirmButtonText: 'Sí, eliminar',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "/subestaciones/eliminar/admin/" + id + "/";
      }
    });
  }
</script>
{% endblock %}
