{% extends "systemsigo/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <div class="card mt-2 p-4">
    <p class="text-center mb-2"  style="font-size: 18px;">Agregar información de la factura</p>
    <hr class="text-center" style="color: var(--color-uacam-primary);">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="row">
        <div class="col-md-6 mt-4">
          <div class="material-input">
            <select name="subestacion" required>
              <option value="">-- Selecciona una Subestación --</option>
              {% for s in subestaciones %}
                <option value="{{ s.id }}">{{ s.no_servicio }} - {{ s.no_medidor }} - {{ s.tarifa }}</option>
              {% endfor %}
            </select>
            <label for="subestacion">Subestación</label>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="material-input">
            <input type="text" name="periodo" required>
            <label for="periodo">Periodo</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mt-4">
          <div class="material-input">
            <input type="number" name="dias_periodo" required>
            <label for="dias_periodo">Días del Periodo</label>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="material-input">
            <input type="number" step="0.01" name="consumo" required>
            <label for="consumo">Consumo (kWh)</label>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="material-input">
            <input type="number" step="0.01" name="cargo_energia">
            <label for="cargo_energia">Cargo Energía ($)</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mt-4">
          <div class="material-input">
            <input type="number" step="0.01" name="importe_demanda_maxima">
            <label for="importe_demanda_maxima">Importe Demanda Máxima ($)</label>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="material-input">
            <input type="number" step="0.01" name="dap">
            <label for="dap">DAP ($)</label>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="material-input">
            <input type="number" step="0.01" name="iva">
            <label for="iva">IVA ($)</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mt-4">
          <div class="material-input">
            <input type="number" step="0.01" name="total_a_pagar" required>
            <label for="total_a_pagar">Total a Pagar ($)</label>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="material-input">
            <select name="status" required>
              <option value="No pagada">No pagada</option>
              <option value="Pagada">Pagada</option>
            </select>
            <label for="status">Estado de la Factura</label>
          </div>
        </div>
      </div>

      <div class="mt-4 material-input">
        <input type="file" name="archivo_pdf" accept=".pdf" required>
        <label for="archivo_pdf">Archivo PDF</label>
      </div>

      <div class="d-grid mx-auto gap-2 align-items-center justify-content-center">
        <button type="submit" class="btn-uacam-primary-especial">Registrar</button>
        <a href="{% url 'listar_facturas_pdbt' %}" class="mx-2 btn btn-danger">Cancelar</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}